<!DOCTYPE html>
<html>
    <head>
     <style>
        h1{
            color: red;
            padding-left: 30%;
            padding-top: 20%;
        }
     </style>
    </head>
    <body>
        <h1><b>Submitted Sucessfully<a href="aclubs">Click here </a>for clubs page</b></h1>
       
    </body>
</html>
