<!DOCTYPE html>
<html>
    <head>
     <style>
        h1{
            color: red;
            padding-left: 40%;
            padding-top: 20%;
        }
        h2{
            padding-left: 40%;
        }
     </style>
    </head>
    <body>
        <h1><b>INVALID LOGIN DETAILS</b></h1>
        <h2>Click here for <a href="/">Click here to return Home Page</a></h2>
    </body>
</html>
